  .background-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/web/img/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Coloca la imagen detrás de los otros elementos */
  }

  .background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/web/img/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px); /* Ajusta el valor "5px" para cambiar la intensidad del desenfoque */
    z-index: -1;
  }

  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
  }
  
  .text-overlay h1 {
    font-size: 86px;
    background-color: black;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  .text-overlay h3 {
    padding: 10px 0 10px 0;
    margin-top: 20px;
    font-size: 28px;
    color: white;
    text-align: center;
    max-width: 80%;
    background-color: black;
    border-radius: 15px;
    margin: 15px;
  }
/* Estilos para las vistas previas */
.container_clases {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-page {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px; /* Ajusta el espaciado interno */
  margin: 20px 20px 20px 20px; /* Ajusta el espaciado inferior entre cada vista previa */
}

.preview-title {
  text-align: center;
  margin-bottom: 10px; /* Ajusta el espaciado inferior del título */
}

.preview-content {
  text-align: justify;
}
a.text-decoration-none {
  color: inherit;
  text-decoration: none;
}
.preview-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
/* Aplica la animación cuando se haga hover sobre el elemento */
.content:hover {
  animation: textHoverAnimation 0.3s step-end infinite;
}
.divider {
  border-top: 10px solid yellow; /* Ajusta el color y grosor de la línea */
  width: 50%; /* Ajusta el ancho de la línea */
  margin: 0 auto;
}

/* Estilos adicionales para las vistas previas en dispositivos móviles */
@media (max-width: 768px) {
  .preview-page {
    width: 100%;
    margin: 20px 20px 20px 20px;  
  }
  .text-overlay h1 {
    font-size: 56px;
    background-color: black;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  .text-overlay h3 {
    padding: 10px 0 10px 0;
    margin-top: 20px;
    font-size: 22px;
    color: white;
    text-align: center;
    max-width: 80%;
    background-color: black;
    border-radius: 15px;
    margin: 15px;
  }
}



