/* Estilos para la barra de progreso de lectura */
.progress-bar-container {
  position: fixed;
  left: 0;
  width: 100%;
  height: 4px; /* Ajusta el alto de la barra de progreso según tus preferencias */
  background-color: #f8d017; /* Cambia el color de fondo de la barra de progreso */
  z-index: 999; /* Ajusta este valor, debe ser menor que el z-index del dropdown-menu */
}

/* Estilos para animar la barra de progreso */
.progress-bar {
  height: 100%;
  width: 0;
  background-color: #000000; /* Cambia el color de la barra de progreso */
  animation: progressAnimation 1s linear; /* Agrega la animación a la barra de progreso */
}

.dropdown-absolute {
  position: absolute;
  top: 100%; /* Posiciona el dropdown-menu debajo del elemento que lo activa */
  left: 0;
  z-index: 9999; /* Ajusta este valor según sea necesario para que el dropdown esté por encima de otros elementos */
}
.nav-link:hover{
  background-color: #000000;
  color: white;
  border-radius: 8px;
}

/* Definición de la animación de la barra de progreso */
@keyframes progressAnimation {
  from {
    width: 0; /* Comienza la animación con una barra de progreso de ancho 0% */
  }
  to {
    width: 100%; /* Termina la animación con una barra de progreso de ancho 100% */
  }
}
