<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/web/css/class1.css">
  <link rel="icon" href="/web/img/main.png" type="image/x-icon">
</head>
<title>SESION 3</title>
<body>
<%- include("templates/top") %>
<%- include("templates/menu") %>

<!-- Contenido-->
<div class="container-fluid p-5">

    <div class="row">
        <div class="col-12 text-center">
          <h1 class="my-4">PROCESO RACIONAL DE LA TOMA DE DECISIONES</h1>
          <hr class="divider ">
        </div>
    </div>

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2022/09/22/15/08/right-7472518_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">En qué consiste el proceso racional de la toma de decisiones</h1>
          <p>
            El proceso racional de la toma de decisiones 
            se basa en la búsqueda y evaluación de alternativas 
            con el objetivo de seleccionar la opción que mejor 
            se ajuste a los objetivos y metas del individuo o
             grupo que debe tomar la decisión. Este proceso 
             implica diversas etapas, como la identificación 
             del problema o la necesidad de tomar una decisión, 
             la generación de posibles soluciones o alternativas,
              la evaluación de los pros y contras de cada opción, 
              la elección de la alternativa más adecuada y 
              la implementación y seguimiento de la decisión tomada.
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2019/04/20/22/09/brain-4142873_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Tipos de procesos para la toma de decisiones</h1>
          <ul>
            <li> Racional: Se basa en la búsqueda lógica de alternativas y la evaluación sistemática de los pros y contras de cada opción</li>
            <li> Intuitivo: Implica tomar decisiones rápidas basadas en la experiencia previa y en la intuición, sin un análisis exhaustivo de alternativas.</li>
            <li>Heurístico: Se utilizan atajos mentales o reglas prácticas para tomar decisiones rápidas, lo que puede llevar a resultados satisfactorios, pero no siempre óptimos.</li>
            <li>Automático: Son decisiones que se toman de manera casi inconsciente, como hábitos o respuestas automática</li>
          </ul>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2022/07/30/08/01/notes-7353278_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Qué es la racionalidad limitada o circunscrita</h1>
          <p>
            La racionalidad limitada 
            o circunscrita es un concepto
             propuesto por el economista Herbert 
             Simon, que sugiere que los seres 
             humanos tienen limitaciones 
             cognitivas y recursos limitados 
             para tomar decisiones de manera 
             completamente racional. Debido a 
             estas limitaciones, los individuos 
             a menudo toman decisiones satisfactorias 
             en lugar de optimizadas, es decir, eligen 
             una opción que es "suficientemente buena" 
             en lugar de la opción óptima, ya que no 
             tienen el tiempo o los recursos para explorar
              todas las alternativas posibles.
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2021/12/13/06/11/decide-6867641_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">En qué consiste el proceso creativo de la toma de decisiones</h1>
          <p>
            El proceso creativo de la toma 
            de decisiones implica la generación 
            de ideas innovadoras y originales 
            para resolver un problema o aprovechar 
            una oportunidad. A diferencia del proceso
             racional tradicional, la creatividad 
             juega un papel fundamental en esta 
             etapa, donde se busca romper patrones 
             de pensamiento establecidos y considerar 
             soluciones fuera de lo común. La creatividad
              puede surgir a través de la asociación de
               ideas, la reconfiguración de información 
               existente o la aplicación de conceptos de 
               una manera nueva y única.
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2017/11/15/21/01/anatomy-2952567_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">¿Cuál es la parte del cerebro responsable de la toma de decisiones?</h1>
          <p>
            La toma de decisiones es 
            un proceso complejo que involucra 
            varias áreas del cerebro trabajando
             en conjunto. Sin embargo, una de las 
             regiones cerebrales fundamentales en 
             este proceso es la corteza prefrontal,
              específicamente la <a href="https://www.lifeder.com/corteza-prefrontal/#:~:text=La%20corteza%20prefrontal%20dorsal%20est%C3%A1%20especialmente%20interconectada%20con,relacionadas%20e%20implicadas%20con%20los%20procesos%20de%20emoci%C3%B3n.">corteza prefrontal 
              dorsolateral y la corteza prefrontal 
              ventromedial</a>.<br> Estas áreas están involucradas 
              en el control ejecutivo, la planificación, el
               juicio, la evaluación de riesgos y recompensas, 
               así como en la toma de decisiones racionales
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2019/10/01/13/58/emojis-4518355_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">¿Qué papel juega la dopamina en la toma de decisiones?</h1>
          <p>
            La dopamina es un neurotransmisor
             que juega un papel crucial en la toma
              de decisiones, especialmente en la motivación
               y la búsqueda de recompensas.<br>
                Cuando enfrentamos decisiones, la dopamina 
                se libera en ciertas áreas del cerebro y 
                está involucrada en el proceso de evaluación de
                 las opciones y la anticipación de posibles
                  resultados positivos. También está relacionada
                   con la regulación del placer y la satisfacción
                    asociados con la elección de una opción particular.
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2022/09/22/15/08/ethics-7472521_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Cuáles son los tipos de decisiones a las que nos enfrentamos según el video</h1>
          <p>
            Sin tener acceso directo al video al 
            que haces referencia, no puedo 
            proporcionar información específica 
            sobre los tipos de decisiones mencionados 
            en él. Sin embargo, en términos generales, 
            las decisiones a las que nos enfrentamos 
            pueden clasificarse en decisiones personales, 
            profesionales, financieras, médicas, éticas, sociales, entre muchas otras.
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2016/03/30/04/01/branch-1290017_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Cuáles son los recursos que ocupamos al tomar decisiones</h1>
          <ul>
            <li>Atención y concentración: Para analizar la información relevante y comprender las opciones disponibles.</li>    
            <li>Memoria: Para recordar experiencias pasadas y su relación con decisiones similares.</li>
            <li>Razonamiento: Para evaluar y comparar las diferentes alternativas.</li>
            <li>Emociones: Las emociones pueden influir en nuestras preferencias y elecciones.</li>
            <li>Tiempo y energía: La toma de decisiones puede requerir tiempo y esfuerzo para analizar adecuadamente las opciones.</li>
            <li>Motivación: La determinación para tomar una decisión y llevarla a cabo.</li>
          </ul>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="activity-section">
        <h1 class="my-4 text-center fs-1">Juego de roles de toma de decisiones</h1>
        <p class="fs-4">
          <br><br>
            <b>Objetivo:</b> Proporcionar a los participantes una experiencia práctica y lúdica que les permita comprender mejor los conceptos y procesos relacionados con la toma de decisiones. 
            <br><br>
            <b>Instrucciones:</b>
            <br><br>
            <ul class="fs-5">
              <li class="form-check">
                <input type="checkbox" class="form-check-input " id="item1">
                <label class="form-check-label" for="item1">1. Organiza a los participantes en grupos pequeños (idealmente de 3 a 5 personas por grupo).</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item2">
                <label class="form-check-label" for="item2">2. Prepara diferentes escenarios o situaciones en las que los participantes deban tomar decisiones. Puedes usar ejemplos de la vida real, como decidir qué carrera estudiar, qué hacer en una emergencia o cómo gastar un presupuesto limitado.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item3">
                <label class="form-check-label" for="item3">3. Asigna roles a cada miembro del grupo. Puedes tener un líder, un analista, un crítico y un observador en cada grupo. El líder guiará el proceso de toma de decisiones, el analista recopilará información relevante, el crítico cuestionará las opciones y el observador evaluará cómo funciona el equipo.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item4">
                <label class="form-check-label" for="item4">4. Proporciona información y recursos para cada escenario. Esto podría incluir datos relevantes, pros y contras de diferentes opciones y posibles resultados.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item5">
                <label class="form-check-label" for="item5">5. Da un tiempo limitado para que cada grupo discuta y tome la decisión en base a la información proporcionada.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item6">
                <label class="form-check-label" for="item6">6. Después de que cada grupo haya tomado su decisión, permite que presenten sus elecciones y el razonamiento detrás de ellas.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item7">
                <label class="form-check-label" for="item7">7. Anima a todos los participantes a discutir las diferentes perspectivas y enfoques utilizados en cada grupo y a reflexionar sobre los factores que influyeron en sus decisiones.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item8">
                <label class="form-check-label" for="item8">8.Luego, ten una discusión en grupo sobre los conceptos de racionalidad, intuición, creatividad y la influencia de la dopamina en el proceso de toma de decisiones.</label>
              </li><br><br> 
            </ul>
          </p>
    </div>
  </div>
  
<hr class="divider ">

</div>

<button onclick="scrollToTop()" id="btnScrollToTop" title="Volver arriba">↑</button>

<!-- Scripts -->
<script src="/web/js/class1.js"></script>
</body>
<%- include("templates/footer") %>
</html>
