<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/web/css/class1.css">
  <link rel="icon" href="/web/img/main.png" type="image/x-icon">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.body.classList.add('animate__animated', 'animate__fadeIn');
    });
  </script>
</head>
<title>SESION 5</title>
<body>
<%- include("templates/top") %>
<%- include("templates/menu") %>

<!-- Contenido-->
<div class="container-fluid p-5 animate__animated animate__zoomIn">

    <div class="row">
        <div class="col-12 text-center">
          <h1 class="my-4 ">CREATIVIDAD EN LA TOMA DE DECISIONES</h1>
          <hr class="divider ">
        </div>
    </div>

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://img.freepik.com/free-vector/creativity-concept-illustration_114360-1083.jpg?w=740&t=st=1690033272~exp=1690033872~hmac=b63a4c8d49f69f48d49390c1077992103bfd49d513e3784a04d49416ebb2e4dd" alt="Imagen 1" class="img-fluid rounded text-center" width="560px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">En qué consiste el proceso creativo y sus etapas para la toma de decisiones</h1>
          <p>
            El proceso creativo es una <span class="highlight underline">habilidad 
            esencial en la toma de decisiones</span>, 
            especialmente cuando nos enfrentamos a 
            situaciones complejas o novedosas que requieren 
            soluciones innovadoras. A <span class="highlight underline">través de la creatividad, 
            podemos generar ideas originales y fuera de lo convencional</span>
            , lo que nos ayuda a encontrar enfoques frescos y 
            efectivos para abordar los desafíos.<br><br>
            Las etapas del proceso creativo para la toma de decisiones son las siguientes: <br><br>
            a) <b>Preparación:</b> En esta etapa, <span class="highlight underline">recopilamos información relevante y exploramos a fondo el problema o situación</span> que enfrentamos. Es importante estar abiertos a diferentes perspectivas y puntos de vista. <br>
            b) <b>Incubación:</b> En este paso, dejamos que las ideas y la información se asienten en nuestra mente de manera subconsciente. Es como <span class="highlight underline">dar tiempo para que las conexiones mentales se formen sin forzar el pensamiento.</span><br>
            c) <b>Iluminación:</b> También conocida como la "eureka" o el "momento Aha", es cuando <span class="highlight underline">llegamos a una idea innovadora o solución creativa.</span> Esta fase puede surgir de repente o después de un período de reflexión.<br>
            d) <b>Evaluación:</b> Después de la iluminación, <span class="highlight underline">evaluamos críticamente las ideas generadas</span> y consideramos su viabilidad y efectividad para resolver el problema.<br>
            e) <b>Implementación:</b> Finalmente, <span class="highlight underline">ponemos en práctica la solución creativa que hemos seleccionado</span> y observamos cómo funciona en la realidad. Es importante estar dispuestos a ajustar y mejorar según los resultados obtenidos.<br>
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://img.freepik.com/free-vector/critical-thinking-concept-illustration_114360-7992.jpg?w=740&t=st=1690033895~exp=1690034495~hmac=525d5b0d623d0aeb8c80bfb5af4c03c8143f1ad98241eee172a38b1c4f811b48" alt="Imagen 1" class="img-fluid rounded text-center" width="460px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Las técnicas creativas para la toma de decisiones:</h1>
          <p>
            Existen diversas técnicas creativas que podemos utilizar para impulsar la creatividad en el proceso de toma de decisiones. Algunas de ellas son: <br> <br>
            a) <a href="https://www.mindmeister.com/es" target="_blank"><b> Lluvia de ideas (Brainstorming):</b></a> Es una técnica que <span class="highlight underline">fomenta la generación libre de ideas sin juicios o críticas</span>. En un ambiente de colaboración, se invita a los participantes a expresar todas las ideas que se les ocurran, sin importar lo extravagantes o poco convencionales que parezcan.<br>
            b) <a href="https://www.canva.com/es_mx/graficas/mapas-mentales/" target="_blank"><b> Mapas mentales:</b></a>    Los mapas mentales son diagramas visuales que <span class="highlight underline">ayudan a organizar y explorar ideas y conceptos relacionados con el problema</span>. Son una excelente forma de estimular la creatividad y la asociación libre de ideas.<br>
            c) <a href="https://neuroflash.com/es/text-type/generador-de-metaforas/#:~:text=Generador%20de%20met%C3%A1foras%20Crea%20met%C3%A1foras%20y%20analog%C3%ADas%20interesantes,Prueba%20este%20tipo%20de%20texto%20en%20nuestra%20aplicaci%C3%B3n" target="_blank" rel="noopener noreferrer"><b> Analogías y metáforas:</b></a> Comparar el problema con situaciones o conceptos diferentes puede generar nuevas perspectivas y soluciones inesperadas. <span class="highlight underline">Las analogías y metáforas pueden abrir nuestra mente a posibilidades no consideradas anteriormente.</span><br>
            d) <a href="https://www.owlbear.rodeo/" target="_blank" rel="noopener noreferrer"><b>Role-playing o juego de roles:</b></a>  Representar diferentes roles o perspectivas en la toma de decisiones <span class="highlight underline">puede ayudarnos a comprender mejor las diversas opciones y sus implicaciones.</span><br>
            e) <a href="https://miro.com/es/plantillas/scamper/" target="_blank" rel="noopener noreferrer"><b> Técnica SCAMPER:</b></a> Esta técnica consiste en <span class="highlight underline">aplicar diferentes preguntas a las ideas existentes para mejorarlas o transformarlas</span>. Las preguntas incluyen <b>"¿Qué puedo sustituir?"</b> , <b>"¿Cómo puedo combinar ideas?"</b> , <b>"¿Qué puedo adaptar?"</b>  y otras.<br>
          </p>
        </div>
      </div>
  
      <hr class="divider ">
      <hr class="divider ">

      <div class="activity-section">
        <h1 class="my-4 text-center fs-1">Actividad <b>"La Torre Creativa"</b></h1>
        <p class="fs-4">
          <br><br>
            <b>Objetivo:</b> Fomentar la creatividad en la toma de decisiones a través de una actividad lúdica y colaborativa.
            <br><br>
            <b>Materiales necesarios:</b> <br>1.Tarjetas o papeles pequeños con diferentes problemas o desafíos escritos en cada uno. <br>
            2.Bloques de construcción (como LEGO) o cualquier material que permita construir una torre.
            <br><br>
            <b>Instrucciones:</b>
            <br><br>
            <ul class="fs-5">
              <li class="form-check">
                <input type="checkbox" class="form-check-input " id="item1">
                <label class="form-check-label" for="item1">1. Prepara las tarjetas o papeles con diferentes problemas o desafíos escritos en cada uno. Los problemas pueden ser variados, desde situaciones laborales o académicas hasta desafíos cotidianos.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item2">
                <label class="form-check-label" for="item2">2. Coloca todos los bloques de construcción en un lugar accesible para los participantes.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item3">
                <label class="form-check-label" for="item3">3. Divide a los participantes en grupos pequeños de 3 a 5 personas. Si tienes un número impar de participantes, un equipo puede tener un miembro adicional.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item4">
                <label class="form-check-label" for="item4">4.Cada equipo debe elegir una tarjeta o papel que contiene un problema o desafío.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item5">
                <label class="form-check-label" for="item5">5. Los equipos deben discutir y generar tantas ideas como sea posible para abordar el problema o desafío. Anímalos a ser creativos y pensar en soluciones originales.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item6">
                <label class="form-check-label" for="item6">6.Una vez que los equipos hayan generado varias ideas, deben seleccionar la que consideren más innovadora o efectiva para resolver el problema.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item7">
                <label class="form-check-label" for="item7">7.  Cada equipo debe usar los bloques de construcción para representar la solución creativa que han seleccionado para el problema. Pueden construir una torre que simbolice la solución o cualquier otra forma que consideren adecuada.</label>
              </li><br><br>   
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item8">
                <label class="form-check-label" for="item8">8.  Después de que todos los equipos hayan construido su "Torre Creativa", cada equipo debe presentar su solución a los demás participantes y explicar cómo aborda el problema o desafío de manera innovadora.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item9">
                <label class="form-check-label" for="item9">9.  Después de cada presentación, el resto de los participantes pueden hacer preguntas o dar retroalimentación constructiva sobre la solución propuesta.</label>
              </li><br><br>  
            </ul>
          </p>
    </div>
  </div>
  
<hr class="divider ">
<br>
<h1 class="my-4 text-center" >Formulario Evaluable </h1>
    <div class="d-flex justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd5LhBeqeYFJ2AKlzoR2mhlNQi3NN6yGww2ciNC4gEdPKtb_g/viewform?embedded=true" width="840" height="2371" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
    <hr class="divider ">
    <h1 class="my-4 text-center" >Referencias : </h1><br>
    <ul class="m-5 text-center">
      <li><a href="https://www.esan.edu.pe/conexion-esan/los-efectos-de-la-creatividad-en-la-toma-de-decisiones" target="_blank" class="text-decoration-none text-black"><h4 class="fs-5 m-5 text-decoration-none">Los efectos de la creatividad en la toma de decisiones | Conexión ESAN. (s. f.).</h4></a></li>
      <li><a href="http://sistemarecursoshumanos.com/mejoramiento-de-la-creatividad-en-la-toma-de-decisiones/" target="_blank" class="text-decoration-none text-black"><h4 class="fs-5 m-5 text-decoration-none">Click, B. R. (2019, 31 julio). MEJORAMIENTO DE LA CREATIVIDAD EN LA TOMA DE DECISIONES - SOFTWARE DE RECURSOS HUMANOS PREMIADO | De vacantes a prenomina. SOFTWARE DE RECURSOS HUMANOS PREMIADO | De Vacantes a Prenomina.</h4></a></li>
    </ul>
    <br>
    <hr class="divider ">
    <br>

</div>

<button onclick="scrollToTop()" id="btnScrollToTop" title="Volver arriba">↑</button>

<!-- Scripts -->
<script src="/web/js/class1.js"></script>
</body>
<%- include("templates/footer") %>
</html>
