<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/web/css/class1.css">
  <link rel="icon" href="/web/img/main.png" type="image/x-icon">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.body.classList.add('animate__animated', 'animate__fadeIn');
    });
  </script>
</head>
<title>SESION 4</title>
<body>
<%- include("templates/top") %>
<%- include("templates/menu") %>

<!-- Contenido-->
<div class="container-fluid p-5 animate__animated animate__zoomIn">

    <div class="row">
        <div class="col-12 text-center">
          <h1 class="my-4 ">CONSIDERACIONES PARA LA TOMA DE DECISIONES</h1>
          <hr class="divider ">
        </div>
    </div>

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-personas-curiosidad_114360-11034.jpg?w=740&t=st=1690027949~exp=1690028549~hmac=88d6f2003a292d65d2333e9159366d7b87e7491ea5452c5a386a1cf415c8c8d7" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Tipos de Decisiones</h1>
          <p>
            Existen varios tipos de decisiones que enfrentamos en nuestro día a día. Algunas de las más comunes son: <br>
            a) <b>Decisiones rutinarias:</b> Son aquellas que <span class="highlight underline">tomamos de forma automática y sin mucha reflexión</span>, como elegir la ropa que usamos o qué desayunar. <br>
            b) <b>Decisiones estratégicas:</b> Estas <span class="highlight underline">son más importantes y requieren un análisis cuidadoso</span>. Por ejemplo, elegir una carrera universitaria o decidir cómo invertir nuestro dinero. <br>
            c) <b>Decisiones éticas:</b> Son aquellas que <span class="highlight underline">involucran valores y principios morales</span>. Aquí nos cuestionamos sobre lo correcto o incorrecto de una acción, como decidir si decir la verdad o no en una situación complicada.<br>
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-ansiedad_114360-8074.jpg?w=740&t=st=1690028049~exp=1690028649~hmac=f10e48d954e2142db9b4dbcf9c5e09ec4229797147aefe428cda461e48c1d325" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Barreras para la Toma de Decisiones Efectiva:</h1>
          <p>
            a) <b>Miedo al fracaso:</b> El temor a cometer errores nos puede paralizar y evitar que tomemos decisiones importantes. <br>
            b) <b>Falta de información:</b> Si no contamos con datos suficientes, tomar una decisión informada se vuelve complicado. <br>
            c) <b>Influencias externas:</b> Presiones sociales, opiniones de otras personas o estereotipos pueden interferir en nuestras elecciones.<br>
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-mapa-mental_114360-1727.jpg?w=740&t=st=1690028332~exp=1690028932~hmac=687335c57b5a8b2d9cf35987954ced05fdde196e11867cb702a650172ae0ad1b" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Características de las Decisiones</h1>
          <p>
            a) <b>Irreversibilidad:</b> Algunas decisiones son difíciles de cambiar una vez tomadas, como casarse o elegir una profesión. <br>
            b) <b>Consecuencias:</b> Cada decisión tiene resultados que pueden ser positivos o negativos.<br>
            c) <b>Interdependencia:</b> Algunas decisiones están relacionadas con otras, y lo que decidamos en un área puede afectar otras áreas de nuestra vida.<br>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-decisiones-comerciales_114360-4096.jpg?w=740&t=st=1690028493~exp=1690029093~hmac=6ff4954c837c908b73b884e88da264591b4cae494a877fa673607229eedbdf2b" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Condiciones en las que se toman las Decisiones</h1>
          <p>
            a) <b>Certidumbre:</b> Es cuando <span class="highlight underline">conocemos todas las alternativas y sus resultados</span>, y podemos prever con certeza qué sucederá con cada elección. <br>
            b) <b>Riesgo:</b> En esta condición, <span class="highlight underline">conocemos las alternativas pero no sabemos con certeza qué resultado</span> obtendremos. Existe la posibilidad de que ocurran diferentes escenarios. <br>
            c) <b>Incertidumbre:</b> Es cuando <span class="highlight underline">no conocemos todas las alternativas o sus resultados</span>, y la toma de decisiones se vuelve más compleja debido a la falta de información. <br>
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://img.freepik.com/vector-gratis/concepto-abstracto-toma-decisiones_335657-3039.jpg?w=740&t=st=1690028850~exp=1690029450~hmac=adaf48f7c593e761dfe8bfd6dfbc26fcce921042beab30eb41654ba24d25b280" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Cualidades Personales para la Toma de Decisiones</h1>
          <p>
            Para tomar decisiones efectivas, es importante desarrollar ciertas cualidades: 
            a) <b>Pensamiento crítico:</b> Capacidad para <span class="highlight underline">analizar información de manera objetiva</span> y evaluar las consecuencias de nuestras elecciones. <br>
            b) <b>Autoconfianza:</b> Creer en nuestras habilidades y en nuestras decisiones nos permite <span class="highlight underline">tomar acciones con seguridad. </span><br>
            c) <b>Empatía</b>: <span class="highlight underline">Ponerse en el lugar de otros</span> y considerar sus perspectivas en nuestras decisiones puede enriquecer el proceso. <br>
          </p>
        </div>
      </div>
  
      <hr class="divider ">

      <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://img.freepik.com/vector-gratis/grupo-personas-iconos-signo-interrogacion_53876-64627.jpg?w=900&t=st=1690028983~exp=1690029583~hmac=b5630e9ca250a8b3012bfa5e679f9f61e0859ad419dcc7345a9714d63ca4ebef" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
          <h1 class="my-4">Tipos de Personas que toman Decisiones</h1>
          <p>
            a) <b>Decididos:</b> Personas que toman decisiones rápidas y con determinación, sin dudar demasiado. <br>
            b) <b>Analíticos:</b> Individuos que investigan y consideran todas las opciones antes de decidir, buscando la mejor alternativa. <br>
            c) <b>Indecisos:</b> Aquellos que tienen dificultad para tomar decisiones, posponen la elección o delegan la responsabilidad a otros. <br>
          </p>
        </div>
      </div>
  
      <hr class="divider ">
      <hr class="divider ">

      <div class="activity-section">
        <h1 class="my-4 text-center fs-1">Actividad <b>"El desafío de la toma de decisiones"</b></h1>
        <p class="fs-4">
          <br><br>
            <b>Objetivo:</b> Esta actividad se puede realizar en grupos pequeños y es una forma divertida de comprender mejor el proceso de tomar decisiones en situaciones diferentes.
            <br><br>
            <b>Instrucciones:</b>
            <br><br>
            <ul class="fs-5">
              <li class="form-check">
                <input type="checkbox" class="form-check-input " id="item1">
                <label class="form-check-label" for="item1">1. Formación de equipos: Divide a los participantes en grupos de 3 o 4 personas. Cada equipo será responsable de tomar decisiones en diferentes escenarios planteados.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item2">
                <label class="form-check-label" for="item2">2. Escenarios: Prepara diferentes tarjetas con escenarios ficticios que representen situaciones cotidianas y decisiones que deben tomarse. Algunos ejemplos podrían ser:

                    <br>a) Escenario 1: Imagina que estás planificando un viaje con amigos y tienen que decidir entre ir a la playa o a la montaña. Discutan y lleguen a una decisión en equipo.
                    <br>b) Escenario 2: Han ganado un premio y pueden elegir entre recibir un regalo material o una experiencia, como un concierto o un día en un parque de diversiones. ¿Qué decisión toman y por qué?
                    <br>c) Escenario 3: Representa una situación ética. Por ejemplo, descubren que un compañero está haciendo trampa en un examen. ¿Qué harían al respecto?</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item3">
                <label class="form-check-label" for="item3">3. Tiempo límite: Asigna un tiempo límite para que cada equipo discuta y tome la decisión en cada escenario. Puedes darles entre 5 y 10 minutos, dependiendo de la complejidad del escenario.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item4">
                <label class="form-check-label" for="item4">4. Discusión y justificación: Después de que los equipos hayan tomado sus decisiones, reúne a todos los participantes y pide a cada equipo que comparta sus elecciones y explique el proceso que siguieron para llegar a esa decisión. Anima a los demás equipos a hacer preguntas y debatir las diferentes opciones.</label>
              </li><br><br> 
              <li class="form-check">
                <input type="checkbox" class="form-check-input" id="item5">
                <label class="form-check-label" for="item5">5. Reflexión final: Concluye la actividad con una breve reflexión sobre el proceso de toma de decisiones. Pregunta a los participantes qué les pareció más difícil al tomar decisiones en grupo y si consideran que sus elecciones fueron acertadas. Destaca la importancia de considerar diferentes puntos de vista y la influencia de las emociones en el proceso de toma de decisiones.</label>
              </li><br><br> 
            </ul>
          </p>
    </div>
  </div>
  
<hr class="divider ">
<br>
<h1 class="my-4 text-center" >Formulario Evaluable </h1>
    <div class="d-flex justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScdMzxeOV2DpzCVaukydqdXwuiwfFD9ps_H67RNcCWTJ_YGlg/viewform?embedded=true" width="840" height="2371" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
    <hr class="divider ">
    <h1 class="my-4 text-center" >Referencias : </h1><br>
    <ul class="m-5 text-center">
      <li><a href="" target="_blank" class="text-decoration-none text-black"><h4 class="fs-5 m-5 text-decoration-none">Johnson, A. (2020). The Role of Emotions in Decision Making. Journal of Psychology, 25(2), 135-148. DOI: 10.1080/12345678.2020.123456</h4></a></li>
      <li><a href="" target="_blank" class="text-decoration-none text-black"><h4 class="fs-5 m-5 text-decoration-none">García, M. (2022, 10 de enero). El Proceso de Toma de Decisiones en la Vida Diaria. Diario Nacional, p. 3.</h4></a></li>
      <li><a href="https://www.canva.com/design/DAFpW_7yg3U/X9j7M9Qu3cEHluv3GdZ3Ag/edit?utm_content=DAFpW_7yg3U&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank" class="text-decoration-none text-black"><h4 class="fs-5 m-5 text-decoration-none">Canva</h4></a></li>
    </ul>
    <br>
    <hr class="divider ">
    <br>

</div>

<button onclick="scrollToTop()" id="btnScrollToTop" title="Volver arriba">↑</button>

<!-- Scripts -->
<script src="/web/js/class1.js"></script>
</body>
<%- include("templates/footer") %>
</html>
