<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/web/css/class1.css">
  <link rel="icon" href="/web/img/main.png" type="image/x-icon">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.body.classList.add('animate__animated', 'animate__fadeIn');
    });
  </script>
</head>
<title>SESION 6</title>
<body>
<%- include("templates/top") %>
<%- include("templates/menu") %>


<!--Contenido en esta seccion :)-->
<div class="container-fluid p-5 animate__animated animate__zoomIn">

  <div class="row">
      <div class="col-12 text-center">
        <h1 class="my-4 ">LOS METODOS CUALITATIVOS Y CUANTITATIVOS UTILIZADOS EN LA PROGRAMACION PARA LA TOMA DE DECISIONES </h1>
        <hr class="divider ">
      </div>
  </div>

  <div class="row my-4 p-5">
      <div class="col-md-6">
        <img src="https://img.freepik.com/free-vector/miscommunication-concept-illustration_114360-8669.jpg?w=740&t=st=1690870346~exp=1690870946~hmac=c5e9789f661a6f28acb1ccd20f1c53b817f8fe1477f53422548f3e666b2343b2" alt="Imagen 1" class="img-fluid rounded text-center" width="560px">
      </div>
      <div class="col-md-6">
        <h1 class="my-4">Métodos cualitativos (personales) intangibles:</h1>
        <p>
          <ol>
            <li>Experiencia: Se basa en el <span class="highlight">conocimiento y aprendizaje adquiridos a lo largo del tiempo por una persona o grupo</span>. Permite tomar decisiones basadas en situaciones previas y lecciones aprendidas.</li>
            <li>Buen juicio y la intuición: Hace referencia a la capacidad de <span class="highlight">tomar decisiones acertadas basadas en la sensibilidad y percepciones internas</span>, sin necesidad de datos concretos.</li>
            <li>Hechos: Se refiere a la <span class="highlight">utilización de información objetiva, datos y evidencias concretas para tomar decisiones</span> informadas y racionales.</li>
            <li>Creatividad: Implica la <span class="highlight">generación de nuevas ideas y soluciones originales</span> para abordar problemas y oportunidades de manera innovadora.</li>
          </ol>
        </p>
      </div>
    </div>

    <hr class="divider ">

    <div class="row my-4 p-5">
      <div class="col-md-6">
        <img src="https://img.freepik.com/free-vector/competitive-intelligence-concept-illustration_114360-7297.jpg?w=740&t=st=1690870362~exp=1690870962~hmac=cc84946630272bce6343e3da5fad6328e93d3c52a143383ac3e537b786b15430" alt="Imagen 1" class="img-fluid rounded text-center" width="560px">
      </div>
      <div class="col-md-6">
        <h1 class="my-4">Métodos cuantitativos:</h1>
        <p>
          <ol>
            <li><a class="animate__animated animate__bounceIn text-decoration-none pro" href="https://www.bing.com/ck/a?!&&p=230e716eca3e0297JmltdHM9MTY5MDc2MTYwMCZpZ3VpZD0xYmU0NDIzNC1mMTJlLTY0NGYtMzYyMi01MDYwZjA0ZDY1NGEmaW5zaWQ9NTQ3Nw&ptn=3&hsh=3&fclid=1be44234-f12e-644f-3622-5060f04d654a&psq=Teor%c3%ada+de+redes%3a&u=a1aHR0cHM6Ly90ZWNobGliLm5ldC90ZWNoZWR1L3Rlb3JpYS1kZS1sYXMtcmVkZXMvIzp-OnRleHQ9RW4lMjBjaWVuY2lhcyUyMHNvY2lhbGVzJTJDJTIwbGElMjB0ZW9yJUMzJUFEYSUyMGRlJTIwcmVkZXMlMjBlcyxwZXJtaXRlbiUyMGxhJTIwdHJhbnNmZXJlbmNpYSUyMGRlJTIwaW5mb3JtYWNpJUMzJUIzbiUyQyUyMGJpZW5lcyUyMG8lMjBzZXJ2aWNpb3Mu&ntb=1" target="_blank"><span class="highlight_pro">Teoría de redes</span></a>: Utiliza <span class="highlight">gráficos y diagramas para representar y analizar relaciones</span> entre elementos interconectados, como proyectos, tareas o procesos.</li>
            <li><a class="animate__animated animate__bounceIn text-decoration-none pro" href="https://www.ibm.com/es-es/topics/decision-trees" target="_blank"><span class="highlight_pro">Árboles de decisión:</span></a> Son estructuras jerárquicas que permiten <span class="highlight">visualizar las diferentes opciones</span> y consecuencias para tomar decisiones basadas en probabilidades y resultados esperados.</li>
            <li><a href="https://cursos.iadb.org/es/indes/pla/matriz-de-resultados" target="_blank">Matriz de resultados:</a> Es una herramienta de <span class="highlight">análisis que ayuda a comparar diferentes alternativas y sus posibles resultado</span>s en un formato tabular.</li>
            <li><a href="https://economipedia.com/definiciones/teoria-de-colas.html" target="_blank">Teoría de colas:</a> Se enfoca en el <span class="highlight"></span>estudio de la espera y flujo de clientes o entidades en sistemas como colas de espera en bancos o tiendas.</li>
            <li><a href="https://economipedia.com/definiciones/sistema-de-inventarios.html" target="_blank">Sistema de inventarios:</a> Se utiliza para <span class="highlight">optimizar el control y la gestión de los niveles de inventario</span> de una organización, buscando minimizar costos y maximizar la eficiencia.</li>
            <li><a class="animate__animated animate__bounceIn text-decoration-none pro" href="https://www.lifeder.com/programacion-lineal/" target="_blank"> <span class="highlight_pro">Programación lineal:</span></a> Es una <span class="highlight"></span>técnica matemática para resolver problemas de optimización donde se busca maximizar o minimizar una función lineal sujeta a un conjunto de restricciones lineales.</li>
            <li><a class="animate__animated animate__bounceIn text-decoration-none pro" href="https://www.gestiondeoperaciones.net/programacion-entera/que-es-la-programacion-entera/" target="_blank"><span class="highlight_pro">Programación entera:</span></a> Es una extensión de la <span class="highlight">programación lineal donde se restringen las variables a números enteros</span>, lo que se aplica a problemas donde las soluciones deben ser números enteros.</li>
            <li><a class="animate__animated animate__bounceIn text-decoration-none pro" href="https://www.nibib.nih.gov/espanol/temas-cientificos/modelado-computacional#:~:text=El%20modelado%20computacional%20es%20el%20uso%20de%20computadoras,variables%2C%20solas%20o%20combinadas%2C%20y%20observando%20los%20resultados." target="_blank"><span class="highlight_pro">Simulación:</span></a> Consiste en crear <span class="highlight">modelos computacionales que imitan el comportamiento de sistemas complejos</span> para observar y analizar su funcionamiento bajo diferentes escenarios.</li>
            <li><a class="animate__animated animate__bounceIn text-decoration-none pro" href="https://www.gestiopolis.com/analisis-de-markov/" target="_blank"><span class="highlight_pro">Análisis de Markov:</span></a> Se utiliza para estudiar <span class="highlight">sistemas que evolucionan con el tiempo y cuyos estados futuros dependen únicamente del estado actual </span>, no de su historia pasada.</li>
            <li><a class="animate__animated animate__bounceIn text-decoration-none pro" href="https://www.edrawsoft.com/es/uml/" target="_blank"><span class="highlight_pro">UML:</span></a> Lenguaje de Modelado Unificado <span class="highlight">forma popular de proporcionar una representación gráfica para el desarrollo y la ingeniería del software</span> ya que nos ayuda a proporcionar una estructura general del software y el flujo de instrucciones</li>
            <li><a class="animate__animated animate__bounceIn text-decoration-none pro" href="https://www.atlassian.com/es/agile/scrum" target="_blank"><span class="highlight_pro">SRUM:</span></a> forma de gestionar proyectos de software basada en el empirismo <span class="highlight">se compone de roles, eventos y artefactos que ayudan a los equipos a entregar productos funcionales de forma incremental.</span>es un marco de trabajo simple, pero no fácil.</li>
          </ol>
        </p>
      </div>
    </div>

    <hr class="divider ">

    <div class="row my-4 p-5">
      <div class="col-md-6">
        <img src="https://img.freepik.com/free-vector/processing-thoughts-concept-illustration_114360-4390.jpg?w=740&t=st=1690870511~exp=1690871111~hmac=a73bb91bfe08324ffddc86d8c4f161156917121e76053e0c806f1af777dd9165" alt="Imagen 1" class="img-fluid rounded text-center" width="560px">
      </div>
      <div class="col-md-6">
        <h1 class="my-4">Conclusión</h1>
        <p>
          La combinación de estos enfoques 
          cualitativos y cuantitativos 
          proporciona una base sólida para tomar 
          decisiones racionales y creativas, 
          lo que puede conducir a resultados
           más satisfactorios y acertados en
            diversas situaciones. Al desarrollar
             habilidades en ambas áreas, los 
             estudiantes pueden mejorar su 
             capacidad para enfrentar desafíos, 
             resolver problemas y aprovechar 
             oportunidades en su vida diaria y 
             en su futuro profesional. La toma 
             de decisiones efectiva es una 
             habilidad valiosa que se puede 
             cultivar y mejorar a lo largo del 
             tiempo, lo que permitirá a las 
             personas tomar decisiones informadas
              y estratégicas que impacten 
              positivamente en su crecimiento 
              personal y éxito en diferentes ámbitos.
        </p>
      </div>
    </div>

    <hr class="divider ">


    <div class="row my-4 p-4 text-center">
      <div class="col-md-4 text-center">
        <img src="https://www.colorhexa.com/6a89b7.png" alt="Color #6177c5c4" class="img-fluid rounded" width="60px" >
      </div>
      <div class="col-md-3 top-100">
        <h1 class="my-4">  = Se usan en TI</h1>
        <p>
        </p>
      </div>
    </div>

    <hr class="divider ">

    <div class="activity-section">
      <h1 class="my-4 text-center fs-1">Actividad <b>"El Viaje Decisivo"</b></h1>
      <p class="fs-4">
        <br><br>
          <b>Objetivo:</b>Desarrollar habilidades de toma de decisiones, fomentar el pensamiento crítico y reflexionar sobre las consecuencias de las elecciones.
          <br><br>
          <b>Instrucciones:</b>
          <br><br>
          <ul class="fs-5">
            <li class="form-check">
              <input type="checkbox" class="form-check-input " id="item1">
              <label class="form-check-label" for="item1">1. Divide a los participantes en grupos pequeños de 3 a 5 personas.</label>
            </li><br><br> 
            <li class="form-check">
              <input type="checkbox" class="form-check-input" id="item2">
              <label class="form-check-label" for="item2">2.  Presenta a cada grupo un escenario ficticio de un viaje en el que deben tomar decisiones importantes. Por ejemplo, pueden ser exploradores que se embarcan en una expedición por una selva desconocida o astronautas que exploran un planeta distante. Cada grupo recibirá una serie de situaciones y desafíos que enfrentarán durante el viaje.</label>
            </li><br><br> 
            <li class="form-check">
              <input type="checkbox" class="form-check-input" id="item3">
              <label class="form-check-label" for="item3">3. Dentro del escenario, plantea a los grupos una serie de decisiones cruciales que deben tomar en diferentes puntos del viaje. Estas decisiones pueden involucrar opciones como seguir un camino desconocido, establecer un campamento en un lugar peligroso o tomar un atajo arriesgado.</label>
            </li><br><br> 
            <li class="form-check">
              <input type="checkbox" class="form-check-input" id="item4">
              <label class="form-check-label" for="item4">4.Evaluación y discusión: Cada grupo debe discutir y analizar las diferentes opciones antes de tomar una decisión final. Deben considerar tanto los aspectos cualitativos, como la intuición y el juicio, como los aspectos cuantitativos, como datos y probabilidades.</label>
            </li><br><br> 
            <li class="form-check">
              <input type="checkbox" class="form-check-input" id="item5">
              <label class="form-check-label" for="item5">5. Después de que cada grupo tome sus decisiones, explora con ellos las consecuencias de sus elecciones. Pregunta cómo se sintieron al tomar cada decisión y cómo influyeron los diferentes enfoques en el resultado de su viaje.</label>
            </li><br><br> 
            <li class="form-check">
              <input type="checkbox" class="form-check-input" id="item6">
              <label class="form-check-label" for="item6">6.Al finalizar la actividad, reúne a todos los grupos y realiza una reflexión grupal. Pregunta a los participantes sobre los desafíos que enfrentaron al tomar decisiones y cómo se sintieron al explorar diferentes enfoques. Anima a compartir las lecciones aprendidas y las estrategias que consideran más efectivas para tomar decisiones informadas.</label>
            </li><br><br> 
          </ul>
        </p>
  </div>
</div>

<hr class="divider ">
<hr class="divider ">
<br>
<h1 class="my-4 text-center" >Formulario Evaluable </h1>
    <div class="d-flex justify-content-center">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScIOwr8R8u0_24NtBAsVLdEWDt-jfncprSZ5FEF6wo4SxHR9g/viewform?embedded=true" width="840" height="2371" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
    <hr class="divider ">
    <h1 class="my-4 text-center" >Referencias : </h1><br>
    <ul class="m-5 text-center">
      <li><a href="https://www.slideshare.net/SinaHernandez/tcnicas-cualitativas-y-cuantitativas-para-la-toma-de-decisiones" target="_blank" class="text-decoration-none text-black"><h4 class="fs-5 m-5 text-decoration-none">Técnicas cualitativas y cuantitativas para la toma de decisiones. (s. f.). PPT.</h4></a></li>
      <li><a href=" https://carreraingenieriaindustrial.cl/metodos-cuantitativos-para-la-toma-de-decisiones/" target="_blank" class="text-decoration-none text-black"><h4 class="fs-5 m-5 text-decoration-none">Bertini, E., & Bertini, E. (2022). Métodos cuantitativos para la toma de decisiones. Ingeniería Industrial, de que trata, porqué es bueno y porqué la debes elegir. </h4></a></li>
    </ul>
    <br>
    <hr class="divider ">
    <br>

</div>


<button onclick="scrollToTop()" id="btnScrollToTop" title="Volver arriba">↑</button>

<!-- Scripts -->
<script src="/web/js/class1.js"></script>
</body>
<%- include("templates/footer") %>
</html>
