<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/web/css/class1.css">
  <link rel="icon" href="/web/img/main.png" type="image/x-icon">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.body.classList.add('animate__animated', 'animate__fadeIn');
    });
  </script>
</head>
<title>Seccion 2</title>
<body>
<%- include("templates/top") %>
<%- include("templates/menu") %>


<div class="container-fluid p-5">
  <!-- Content goes here -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="my-4">EL ENFOQUE SISTEMICO EN LA TOMA DE DECISIONES</h1>
        <hr class="divider ">
      </div>
    </div>
  
    <div class="row my-4 p-5">
      <div class="col-md-6">
        <img src="https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
      </div>
      <div class="col-md-6">
        <h1 class="my-4">¿Qué es?</h1>
        <p>
            El enfoque sistemático en la toma de 
            decisiones es una metodología que busca 
            abordar los problemas y situaciones de manera
             estructurada y organizada, considerando todos 
             los elementos relevantes y sus interacciones 
             dentro de un sistema. Este enfoque implica 
             analizar el problema de manera holística, 
             teniendo en cuenta todas las partes involucradas
              y las posibles consecuencias de las decisiones tomadas.
        </p>
      </div>
    </div>

    <hr class="divider ">

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2013/07/12/14/18/gears-148196_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
            <h1 class="my-4">Algunas características clave del enfoque sistemático en la toma de decisiones son:</h1>
          <p>
            <ol>
                <li>Análisis integral: Se consideran todos los elementos que conforman el sistema, tanto internos como externos, y se evalúan sus interacciones y relaciones para entender cómo afectan el problema en cuestión.</li>
                <li>Identificación de objetivos y restricciones: Se establecen claramente los objetivos que se desean lograr y las restricciones que se deben tener en cuenta durante el proceso de toma de decisiones.</li>
                <li>Recopilación de información: Se busca obtener datos y evidencias sólidas para fundamentar la toma de decisiones y reducir la incertidumbre.</li>
                <li>Evaluación de alternativas: Se generan diferentes opciones o alternativas para resolver el problema, y se analizan sus ventajas, desventajas y posibles resultados.</li>
                <li>Consideración de consecuencias a largo plazo: Se evalúan las implicaciones a largo plazo de cada opción, tanto en el sistema actual como en futuros escenarios.</li>
                <li>Involucramiento de partes interesadas: Se busca la participación de las personas y grupos afectados por la decisión, para tener una perspectiva más amplia y garantizar su aceptación y apoyo.</li>
                <li>Retroalimentación y ajustes: Se permite la revisión continua del proceso de toma de decisiones para realizar ajustes y mejoras según sea necesario</li>
            </ol>
          </p>
        </div>
      </div>

    <hr class="divider ">

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="https://cdn.pixabay.com/photo/2022/02/02/10/56/questions-6988157_1280.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
            <h1 class="my-4">Conclusión</h1>
          <p>
            El enfoque sistemático en 
            la toma de decisiones es especialmente 
            útil en situaciones complejas y con múltiples 
            variables, ya que proporciona una estructura 
            lógica y organizada para enfrentar problemas 
            desafiantes. Al considerar todas las partes y 
            relaciones dentro de un sistema, este enfoque 
            ayuda a minimizar los sesgos y aumentar la 
            probabilidad de tomar decisiones informadas y efectivas.
          </p>
        </div>
      </div>
      
    <hr class="divider ">

    <div class="activity-section">
            <h1 class="my-4 text-center fs-1">Actividad recreativa:  <br><br> <b>"Elige tu Aventura"</b></h1>
            <p class="fs-4">
              <br><br>
                <b>Objetivo:</b> Esta actividad sencilla y divertida permitirá a los estudiantes comprender el enfoque sistemático en la toma de decisiones a través de un juego de roles interactivo.
                <br><br>
                <b>Instrucciones:</b>
                <br>
                <ul class="fs-5">
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input " id="item1">
                    <label class="form-check-label" for="item1"> 1.Diseña una historia o escenario con diferentes situaciones y opciones de decisión.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item2">
                    <label class="form-check-label" for="item2">2. Crea tarjetas o papelitos con las diferentes opciones de decisión escritas en cada uno.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item3">
                    <label class="form-check-label" for="item3">3. Divide a los estudiantes en equipos de 4 personas. Asegúrate de que cada equipo tenga acceso a la historia y las tarjetas con las opciones de decisión.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item4">
                    <label class="form-check-label" for="item4">4. Presenta la historia o escenario a los equipos y explícales que deberán tomar decisiones a lo largo de la aventura.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item5">
                    <label class="form-check-label" for="item5">5. Cada vez que se presente una decisión, los equipos deben seleccionar una tarjeta con la opción que deseen elegir.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item6">
                    <label class="form-check-label" for="item6">6. Los equipos deben discutir y debatir cuál es la mejor opción para cada decisión basándose en la información proporcionada en la historia.</label>
                  </li>
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item7">
                    <label class="form-check-label" for="item7">7. Luego de tomar una decisión, lee las consecuencias de esa elección en la historia y cómo afecta la situación en la que se encuentran.</label>
                  </li>
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item8">
                    <label class="form-check-label" for="item8">8 .Continúa la historia presentando nuevas situaciones y decisiones para que los equipos sigan eligiendo su camino.</label>
                  </li>
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item9">
                    <label class="form-check-label" for="item9">9. Una vez que los equipos hayan completado la aventura, reúne a todos los estudiantes para una sesión de reflexión y pregunta a los equipos sobre cómo tomaron sus decisiones y si consideraron todas las opciones antes de elegir.</label>
                  </li>
                </ul>
              </p>
        </div>
      </div>
      
    <hr class="divider ">
    
    <h1 class="my-4 text-center" >Formulario Evaluable </h1>
    <div class="d-flex justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdUzVDV_riF0fTc7alj7SMPcMj7PFPCczAdaRP3_K5MV1cFzw/viewform?embedded=true" width="840" height="2371" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
    <hr class="divider ">
  
  </div>
  <!-- Botón "Scroll to Top" -->
<button onclick="scrollToTop()" id="btnScrollToTop" title="Volver arriba">↑</button>

<!-- Scripts -->
<script src="/web/js/class1.js"></script>
</body>
<%- include("templates/footer") %>
</html>