<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/web/css/class1.css">
  <link rel="icon" href="/web/img/main.png" type="image/x-icon">
</head>
<title>Seccion 1</title>
<body>
<%- include("templates/top") %>
<%- include("templates/menu") %>


<div class="container-fluid p-5">
  <!-- Content goes here -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="my-4">GESTIÓN EMPRESARIAL Y TOMA DE DECISIONES EN LAS ORGANIZACIONES</h1>
        <hr class="divider ">
      </div>
    </div>
  
    <div class="row my-4 p-5">
      <div class="col-md-6">
        <img src="/web/img/img1.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
      </div>
      <div class="col-md-6">
        <h1 class="my-4">¿Qué es la gestión empresarial?</h1>
        <p>
            La gestión empresarial se refiere al 
            conjunto de actividades y estrategias 
            que una organización utiliza para lograr 
            sus objetivos y metas. Esto incluye la 
            planificación, organización, dirección y 
            control de los recursos y procesos de la empresa.
            Es importante destacar que la gestión 
            empresarial no solo se aplica a grandes 
            corporaciones, sino también a pequeñas y
             medianas empresas. De hecho, una buena gestión 
             empresarial puede ser la clave del éxito para cualquier 
             tipo de organización, independientemente de su tamaño o sector.
        </p>
      </div>
    </div>

    <hr class="divider ">

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="/web/img/img2.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
            <h1 class="my-4">La planificación estratégica en una empresa</h1>
          <p>
            La planificación estratégica es 
            un proceso clave para el éxito de 
            una empresa a largo plazo. Consiste 
            en establecer objetivos claros y definir 
            los pasos necesarios para alcanzarlos. 
            La planificación estratégica implica 
            analizar el entorno empresarial, identificar
             oportunidades y amenazas, y desarrollar 
             estrategias para aprovechar las oportunidades 
             y minimizar los riesgos. También implica 
             asignar recursos y establecer planes de 
             acción concretos para lograr los objetivos establecidos.
            La planificación estratégica es 
            especialmente importante en un entorno 
            empresarial cada vez más competitivo y 
            cambiante. Las empresas que no tienen una 
            estrategia clara corren el riesgo de perder 
            su ventaja competitiva y quedarse atrás en el 
            mercado. Por otro lado, las empresas que tienen 
            una estrategia bien definida pueden anticipar 
            los cambios del mercado y adaptarse rápidamente 
            a ellos, lo que les permite mantener su posición
             de liderazgo y seguir creciendo a largo plazo.
          </p>
        </div>
      </div>

    <hr class="divider ">

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="/web/img/img3.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
            <h1 class="my-4">¿Qué es la toma de decisiones?</h1>
          <p>
            La toma de decisiones es un proceso 
            que implica evaluar diferentes opciones
             y elegir la mejor opción disponible. 
             Este proceso consta de varios componentes,
              como la identificación del problema, 
              la generación de alternativas, la 
              evaluación de las alternativas y la 
              elección de la mejor opción. Cada uno 
              de estos componentes es importante 
              para garantizar que la decisión tomada sea la correcta.
            Por ejemplo, imagine que una empresa 
            está considerando expandirse a un nuevo
             mercado. El primer paso en el proceso de 
             toma de decisiones sería identificar los 
             problemas potenciales asociados con esta 
             expansión, como la competencia local y las 
             barreras culturales. A continuación, 
             se generarían varias alternativas, como 
             la contratación de personal local o la 
             adquisición de una empresa ya establecida 
             en el mercado. Se evaluarían estas alternativas
              y se elegiría la mejor opción basándose 
              en factores como el costo y el potencial de crecimiento.
          </p>
        </div>
      </div>
      
    <hr class="divider ">

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="/web/img/img4.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
            <h1 class="my-4">La importancia de la toma de decisiones</h1>
          <p>
            En una organización, 
            la toma de decisiones puede 
            ser la diferencia entre el éxito 
            y el fracaso. Las decisiones correctas 
            pueden llevar a una empresa a nuevas alturas,
             mientras que las malas decisiones pueden tener consecuencias graves.
            Por ejemplo, una mala decisión en la contratación 
            de personal puede llevar a un ambiente de trabajo 
            negativo y a una disminución en la productividad. 
            Por otro lado, una buena decisión en la inversión de 
            recursos en investigación y desarrollo puede 
            llevar a un aumento en la innovación y en la competitividad de la empresa.
          </p>
        </div>
      </div>
      
    <hr class="divider ">

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="/web/img/img5.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
            <h1 class="my-4">Cómo funciona la toma de decisiones en una organización</h1>
          <p>
            La toma de decisiones 
            en una organización es 
            un proceso complejo que 
            involucra a múltiples personas
             y departamentos. En general, 
             el proceso comienza con la 
             identificación de un problema 
             o oportunidad que requiere una 
             decisión. A partir de ahí, los 
             diferentes miembros del equipo 
             pueden proporcionar información
              y perspectivas únicas sobre el
            asunto en cuestión.
            Una vez que se ha recopilado toda
             la información relevante, el 
             equipo puede comenzar a evaluar
              las opciones disponibles y 
              considerar los posibles 
              resultados de cada opción. 
              Dependiendo de la naturaleza de la decisión, 
              puede haber diferentes niveles de autoridad 
              involucrados en la toma de decisiones finales.<br>
              <b>Por ejemplo, algunas decisiones pueden requerir 
                la aprobación del director ejecutivo, mientras que 
                otras pueden ser tomadas por un gerente de nivel medio.</b>
          </p>
        </div>
      </div>
      
    <hr class="divider ">

    <div class="row my-4 p-5">
        <div class="col-md-6">
          <img src="/web/img/img6.png" alt="Imagen 1" class="img-fluid rounded text-center" width="360px">
        </div>
        <div class="col-md-6">
            <h1 class="my-4">Conclusión</h1>
          <p>
            En conclusión, la gestión empresarial 
            es fundamental para el éxito de cualquier 
            organización. La planificación estratégica 
            permite a las empresas establecer objetivos
             claros y definir los pasos necesarios para 
             alcanzarlos. Por otro lado, la toma de decisiones 
             efectiva es crucial para lograr resultados 
             positivos y evitar errores costosos.
            Es importante que los líderes empresariales
             comprendan la importancia de estos conceptos
              y los apliquen en su propia empresa. Al hacerlo,
               podrán mejorar la eficiencia, aumentar la 
               rentabilidad y mantener una ventaja competitiva en el mercado.
          </p>
        </div>
      </div>
      
    <hr class="divider ">

    <div class="activity-section">
            <h1 class="my-4 text-center fs-1">Actividad recreativa 2: Juego de mesa <br><br> <b>"Caminos estratégicos"</b></h1>
            <p class="fs-4">
              <br><br>
                <b>Objetivo:</b> Esta actividad ayudará a los estudiantes a comprender el concepto de planeación estratégica y cómo afecta el desarrollo y éxito de una empresa.
                <br><br>
                <b>Instrucciones:</b>
                <br>
                <ul class="fs-5">
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input " id="item1">
                    <label class="form-check-label" for="item1"> 1. Crea un juego de mesa que represente el ciclo de planeación estratégica en una empresa. Incluye casillas que representen diferentes etapas del proceso, como análisis del entorno, definición de objetivos, elaboración de estrategias, implementación, seguimiento y ajustes.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item2">
                    <label class="form-check-label" for="item2">2. Divide a los estudiantes en equipos de 4 personas y proporciona un tablero del juego a cada equipo.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item3">
                    <label class="form-check-label" for="item3">3. Los estudiantes deben lanzar un dado para moverse por el tablero y avanzar en el proceso de planeación estratégica.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item4">
                    <label class="form-check-label" for="item4">4. En cada casilla, los equipos deberán enfrentar desafíos relacionados con la toma de decisiones estratégicas y responder preguntas sobre cómo abordarían esos problemas.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item5">
                    <label class="form-check-label" for="item5">5. Los equipos acumularán puntos a medida que avanzan por el tablero y toman decisiones efectivas.</label>
                  </li><br><br> 
                  <li class="form-check">
                    <input type="checkbox" class="form-check-input" id="item6">
                    <label class="form-check-label" for="item6">6. Al final del juego, el equipo con más puntos será el ganador y se llevará una reflexión sobre los aprendizajes adquiridos en el proceso.</label>
                  </li>
                </ul>
              </p>
        </div>
      </div>
      
    <hr class="divider ">
    
    <h1 class="my-4 text-center" >Formulario Evaluable </h1>
    <div class="d-flex justify-content-center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfrJeYHt5pfResYc7jfA4TctD2_p850XLcnkIBHg-fboYoGag/viewform?embedded=true" width="1240" height="2400" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
    <hr class="divider ">
  
  </div>
  <!-- Botón "Scroll to Top" -->
<button onclick="scrollToTop()" id="btnScrollToTop" title="Volver arriba">↑</button>

<!-- Scripts -->
<script src="/web/js/class1.js"></script>
</body>
<%- include("templates/footer") %>
</html>