<link rel="stylesheet" href="/web/css/home.css">
<%- include("templates/top") %>
<%- include("templates/menu") %>

<div class="background-image">
  <div class="text-overlay">
    <h1 class="text-center text-white">OBJETO DE APRENDIZAJE</h1>
    <h3 class="text-center text-white">El objeto de aprendizaje sobre "La Toma de Decisiones" busca proporcionar a los estudiantes una experiencia educativa enriquecedora y efectiva, permitiéndoles desarrollar habilidades de pensamiento crítico y adquirir conocimientos que puedan aplicar en su vida cotidiana y en su futuro profesional.</h3>
  </div>
</div>
<%- include("templates/footer") %>