<link rel="stylesheet" href="/web/css/footer.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<footer class="bg-dark text-white text-center p-3">
  <div class="footer-content">
    <!-- Owner information -->
    <p class="mb-0">Propiedad de Victor Manuel Rangel Mejia de TI03SM-22</p>
    <p class="mb-0"><i class="bi bi-whatsapp"> </i> 4426039356 </p>
    <a href="mailto:manuelrm.ti22@utsjr.edu.mx" class="text-decoration-none"><p class="mb-0 "><i class="bi bi-envelope-at-fill"></i> </i> Correo </p><br></a><br> 
    <!-- UTSJR logo -->
    <div class="contenerdor_img">
    <picture>
      <img src="/web/img/ut.png" alt="25 años utsjr">
    </picture>
    <!-- QRO logo -->
    <picture>
      <img  class="imgqro"src="/web/img/qro.png" alt="25 años utsjr">
    </picture>
    <!-- Logo for 25 years of UTSJR -->
    <picture>
      <img   src="/web/img/25autsr.png" alt="25 años utsjr">
    </picture>
  </div>
  </div>
</footer>

