<link rel="stylesheet" href="/web/css/menu.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary fs-5 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
          <img src="/web/img/hogarv2.png" alt="Inicio" width="26" height="26">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/class1">Seccion 1</a>
          <a class="nav-link " href="/class2">Seccion 2</a>
          <a class="nav-link " href="/class3">Seccion 3</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Mas
            </a>
            <ul class="dropdown-menu dropdown-absolute m-2 p-3">
              <li><a class="dropdown-item nav-link" href="/class4">Seccion 4</a></li>
              <li><a class="dropdown-item nav-link " href="/class5">Seccion 5</a></li>
              <li><a class="dropdown-item nav-link disabled" href="/class5">Seccion 6</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://github.com/victoMR/OBJETO-DE-APRENDIZAJE"><i class="bi bi-github"></i> Git</a></li>
            </ul>
          </li>
          <a class="nav-link disabled"></a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Barra de progreso de lectura sticky -->
<div class="progress-bar-container sticky">
  <div class="progress-bar" id="progressBar"></div>
</div>