<link rel="stylesheet" href="/web/css/menu.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary fs-5 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
          <img src="/web/img/hogarv2.png" alt="Inicio" width="26" height="26">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/class1">Seccion 1</a>
          <a class="nav-link disabled" href="#">Proximamente</a>
          <a class="nav-link disabled">Proximamente</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Barra de progreso de lectura sticky -->
<div class="progress-bar-container sticky">
  <div class="progress-bar" id="progressBar"></div>
</div>